body{
    background-color: #D9B284;

}

#game{
    position: absolute;
    margin-left: 10%;
    margin-top: 70px;
    border: 1px solid #62889F;
    background-color: #d2f1dc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #353437;
}